@using Notlarim101.Entity.ValueObject
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Login-RegisterStyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="logreg">
        <main class="form-signin">
            <form>
                <img class="mb-4 rounded-circle" src="~/images/muhammed.jpg" alt="test" width="140" height="128">
                <h1 class="h3 mb-3 fw-normal">Giris Formu</h1>
                @Html.ValidationSummary(false)
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Adi", id = "floatingNameInput" })
                    <label for="floatingNameInput">Adi</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", placeholder = "Soyadi", id = "floatingSurnameInput" })
                    <label for="floatingSurnameInput">Soyadi</label>
                </div>


                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanici Adi", id = "floatingInput" })
                    <label for="floatingInput">Kullanici Adi</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", id = "floatingEmail" })
                    <label for="floatingEmail">Email</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Sifre", id = "floatingPassword", type = "password" })
                    <label for="floatingPassword">Sifre</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control", placeholder = "Sifre Tekrar", id = "floatingRePassword", type = "password" })
                    <label for="floatingRePassword">Sifre Tekrar</label>
                </div>

                @*<div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>*@
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>

    </div>
}



<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("footer").hide();
        $("header").hide();
        $("#category2").hide();
        $("#category3").addClass("col-md-12").removeClass("col-md-10");
    });
</script>
